{% extends "base.html"%}

{% block content %}


<h3>Sign up here:</h3>
<p>
    <form action="/validate" method="post">
    <label>
        Username:
        <div><input type="text" name="user_name" value="{{ user_name }}"/><p id="error" class='error'>{% if usr_error %}{{ usr_error }}{% endif %}</p></div>
    <label>
        Password:
        <div><input type="password" name="pass"/><p id="error" class='error'>{% if p_error %}{{ p_error }}{% endif %}</p></div>
    </label>
    <label>
        confirm password:
        <div><input type="password" name="pass_c"/><p id="error" class='error'>{% if p2_error %}{{ p2_error }}{% endif %}</p></div>
    </label>
    <label>
        E-mail (optional):
        <div><input type="text" name="e_mail" value="{{ email }}"/><p id="error" class='error'>{% if e_error %}{{ e_error }}{% endif %}</p></div>
    </label>
    <ul>
        <li>Passwords must be alphanumeric, no spaces or special characters</li>
            <li>between 3 and 20 characters long</li>
        <li>Username must be alphanumeric, containing no spaces or special characters</li>
            <li>between 3 and 20 characters long</li>
    </ul>

   
    <input type="submit" value="Sign Up"/>
    </form>
</p> 


{% endblock %}