{% extends "base.html"%}

{% block content %}


<h3>Sign up here:</h3>
<p>
    <form action="/validate" method="post">
    <label>
        Username:(between 3 & 20 characters)<br>
        <input type="text" name="user_name" value="{{ user_name }}"/>{% if usr_error %}<p id="error" class='error'>{{ usr_error }}</p>{% endif %}
    </label>
    <label>
        Password:<br>
        <input type="password" name="pass"/>{% if p_error %}<p id="error" class='error'>{{ p_error }}</p>{% endif %}
    </label>
    <label>
        confirm password:<br>
        <input type="password" name="pass_c"/>{% if p2_error %}<p id="error" class='error'>{{ p2_error }}</p>{% endif %}
    </label>
    <label>
        E-mail (optional):<br>
        <input type="text" name="e_mail" value="{{ email }}"/>{% if e_error %}<p id="error" class='error'>{{ e_error }}</p>{% endif %}
    </label>
    <br>
        Passwords must be alphanumeric, no spaces or special characters
    <br>

   
    <input type="submit" value="Sign Up"/>
    </form>
</p> 

{% if error %}
  <p id="error" class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
